RewriteEngine On

# Force SSL (HTTPS) redirection
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteEngine On
RewriteCond %{HTTP_HOST} ^(www\.)?mitdevelop\.com$ [NC]
RewriteRule ^index\.php$ https://www.mitdevelop.com/rangbhoomi/ [R=301,L]


# get www in url

RewriteEngine On
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

# remove www
# RewriteEngine On
# RewriteCond %{HTTP_HOST} ^www\.ratspestcontrolperth\.com$ [NC]
# RewriteRule ^(.*)$ http://ratspestcontrolperth\.com/$1 [R=301,L]


# Remove "index.php" from the URL
RewriteCond %{THE_REQUEST} /index\.php [NC]
RewriteRule ^index\.php(.*)$ /$1 [L,R=301,NC]

# Redirect to remove trailing slash if not a directory
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)/$ /$1 [L,R=301]

# # Handle all other requests by redirecting to index.php
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.*)$ index.php/$1 [L]

RewriteEngine On

# Remove .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^/]+)/?$ $1.php [L]





# RewriteEngine On

# # Redirect requests for .php files to the homepage
# RewriteCond %{THE_REQUEST} \.php [NC]
# RewriteRule ^(.+)\.php$ / [L,R=301]

# # Internally rewrite requests without .php extension to the corresponding PHP file
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME}.php -f
# RewriteRule ^(.+)$ $1.php [L]






